<section class="container-xl my-5">
  {{!-- 類別 Dropdowns --}}
  <div class="dropdown text-center">
    <button class="btn btn-outline-secondary btn-lg w-75 dropdown-toggle" type="button" id="dropdownMenuButton1"
      data-bs-toggle="dropdown" aria-expanded="false">{{#if category}} {{category}} {{else}}請選擇類別{{/if}}&emsp;</button>

    <ul class="dropdown-menu w-75" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="/filter/家居物業">家居物業</a></li>
      <li><a class="dropdown-item" href="/filter/交通出行">交通出行</a></li>
      <li><a class="dropdown-item" href="/filter/休閒娛樂">休閒娛樂</a></li>
      <li><a class="dropdown-item" href="/filter/餐飲食品">餐飲食品</a></li>
      <li><a class="dropdown-item" href="/filter/其他">其他</a></li>
      <li>
        <hr class="dropdown-divider">
      </li>
      <li><a class="dropdown-item" href="/filter/全部類別">全部類別</a></li>
    </ul>
  </div>

  {{!-- 總金額 --}}
  <div class="my-5 w-50 mx-auto">
    <h5 class="text-black-50">總金額：</h5>
    <h1 class="text-center" style="color: Tomato;">{{totalAmount}}</h1>
  </div>
  {{!-- Record List --}}
  <ul class="list-group container mt-5 w-75 mx-auto">
    {{#each recordData}}
    <li class="list-group-item">
      <div class="row align-items-center">

        <h3 class="col-1 text-info text-center mb-0 {{toIcon this.category}}"></h3>
        <div class="col-6">
          <h4 class="text-secondary mb-0 ">{{this.name}}</h4>
          <small class="text-black-50">{{dateFormat this.date}}</small>
        </div>

        <h4 class="col-2 text-secondary text-end mb-0">{{addComma this.amount}}</h4>

        <div class="col-3 text-end">
          <a class="btn btn-light me-3" href="/record/{{this.id}}/edit" role="button">修改</a>
          <form action="/record/{{ this.id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-outline-danger" href="" role="button">刪除</button>
          </form>
        </div>

      </div>
    </li>
    {{/each}}
  </ul>

<div class="text-center mt-5">
  <a class="btn btn-lg w-25" style="background: Tomato; color: snow;" href="/record/new" role="button">新增支出</a>
</div>


</section>